#wrap{
  width:900px;
  padding:5px;
  margin:0 auto;
  background-color:#fff;
}

body{
  font-family:arial, Helvetica, sans-serif;
  font-size:10pt;
  background-color:#fff;
  color:#555;
}

h1 {color: #006633; font-size:16pt; font-family: Arial, Helvetica, sans-serif}
h2 {color: #006633; font-size:13pt; font-family: Arial, Helvetica, sans-serif}
h3 {color: #006633; text-align:left; font-size:11pt; font-family: Arial, Helvetica, sans-serif}

a:visited {color:#CC3333}
a:link {color:#006633}
a:hover {  color: #FF0000; text-decoration: underline}
