version: 2

jobs:
  build:
    machine:
      java:
        version: oraclejdk8
    working_directory: ~/comsm0018-unit-webpage
    steps:
      - checkout
      - restore_cache:
          key: vnu-cache

      - run:
          name: Install unzip
          command: |
            sudo apt-get update && \
            sudo apt-get install unzip

      - run:
          name: Test XHTML compliance.
          command: make check

      - save_cache:
          paths:
            - /tmp/vnu
          key: vnu-cache
